* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

header .container {
  width: 80%;
  margin: 0 auto;
}
header .logo {
  width: 60px;
}
header .hr-tx {
  text-transform: uppercase;
  font-size: 0.7rem;
}
header .menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
header .menu li {
  margin: 0 1rem;
  padding: 0.5rem;
}
header .menu li a {
  text-decoration: none;
  color: inherit;
}
header .menu li.active {
  color: #2582f9;
}

jumbotron {
  background-image: url("/images/jumbotron.jpg");
  height: 300px;
  display: block;
  background-size: cover;
}

main .section-bg {
  background-color: black;
  color: white;
  padding-top: 3rem;
  position: relative;
}
main .section-bg .container {
  width: 80%;
  margin: 0 auto;
  border: 1px solid red;
  height: 720px;
}
main .section-bg .container .comics-list .comics-card {
  display: flex;
  flex-wrap: wrap;
}
main .section-bg .container .comics-list .comics-card .card {
  width: 16.6666666667%;
  margin: 1rem 0;
}
main .section-bg .targhetta {
  background-color: #2582f9;
  padding: 0.7rem 1.2rem;
  position: absolute;
  top: -20px;
}