* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

header {
  background-color: orange;
}

header .container {
  width: 80%;
  margin: 0 auto;
}
header .logo {
  width: 60px;
}
header .hr-tx {
  text-transform: uppercase;
  font-size: 0.7rem;
}
header .menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
header .menu li {
  margin: 0 1rem;
  padding: 0.5rem;
}
header .menu li a {
  text-decoration: none;
  color: inherit;
}
header .menu li.active {
  color: #2582f9;
}

jumbotron {
  background-image: url("/images/jumbotron.jpg");
  height: 300px;
  display: block;
  background-size: cover;
}

main .container_uno {
  width: 80%;
  margin: 0 auto;
  border: 1px solid red;
  height: 50px;
  display: flex;
}
main .container_uno .comics-card {
  display: flex;
  width: calc(16.6666666667% - 1rem);
}
main .container_uno .comics-card .card h2 {
  margin: 1rem;
  color: #ffffff;
}
main .container_uno .comics-card .card h2 h4 {
  color: white;
}