main{

    .section-bg{
        background-color: black;
        color: white;
        padding-top:3rem;
        position: relative;


    .container{
        width: 80%;
        margin: 0 auto;
        border: 1px solid red;
        height: 720px;

        .comics-list{
           

            .comics-card{
                display: flex;
                flex-wrap: wrap;

                .card{
                    width: calc(100% / 6 );
                    margin: 1rem 0;
                }
            }
        }
       
      
        }
        .targhetta{
            background-color: $primary_color;
            padding: .7rem 1.2rem;
            position: absolute;
            top: -20px;

        }
    }
}
