main{

    // .section-bg{
    //     background-color: black;
    // }

    .container_uno{
        width: 80%;
        margin: 0 auto;
        border: 1px solid red;
        height: 50px;
        display: flex; 

        .comics-card{
            display: flex; 
            width: calc(100% / 6 - 1rem);

            .card{
                h2{
                    margin: 1rem;
                    color: $secondary-color;
                
                    h4{
                        color: white;
                    }
                }
        }

       
        }
    }

   
}